{% extends "layout.html" %}


{% block content %}

<h3>{{ message }}</h3>




<head>

</head>

<div class="container">

    <h2>Over Haarstudio 13</h2>
    <div class='row'>
        <p class="col-md-6" class='text_width'>In onze salon staan aandacht en kwaliteit bovenaan. Met vragen of wensen kun je altijd bij ons terecht. Wij zullen jou een eerlijk advies geven vanuit onze ervaring en kennis van het vak.
            Een kapsel of haarkleur kunnen veel verandering brengen in jou persoonlijke uitstraling. <br><br>Bij Haarstudio 13 weet je zeker dat je samen met ons tot het juiste kapsel gaat komen. Wil je juist een andere haarkleur maar ben je bang dat het je niet zo mooi staat? In overleg gaan wij samen met jou dé kleur uitzoeken die bijvoorbeeld de kleur van jou ogen en jou huid kan versterken. Op deze manier kunnen wij er voor zorgen dat jou gezicht gaat stralen.
            Wij zijn op de hoogte van de nieuwste trends in de haar-wereld, misschien zit daar iets tussen voor jou!
            <br><br>Heb jij ook wel eens moeite met het stylen van je haar, of wil je een kapsel waarmee je geen uren voor de spiegel staat? Ook dit kunnen wij samen met jou gaan creëren! Het is voor jou maar ook voor ons dat jij je prettig voelt met jouw haar, jij moet uiteindelijk iedere dag je haar stylen!
            Ook hebben wij in onze salon een verzorgingslijn voor haar en hoofdhuid, heb je een schilferige hoofdhuid en last van roos, is je hoofdhuid gevoelig, of heb je last van droog en weerbarstig haar? Kom eens bij ons en vraag naar deze speciaal ontworpen lijn, genaamd: Oribe!
            Wij kijken er naar uit om jou te zien en om jou te mogen helpen met je haarverzorging!

        </p>

        <div id='aboutimg' class="col-md-6"></div>
    </div>

    <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
            <h2>Reacties van klanten</h2>
        </div>
    </div>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                    <li data-target="#quote-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="https://www.5groningen.nl/uploads/bestanden/e55412d7-5a9d-4acb-a97c-e7073e1dd956/2991417895/MarcCremers2.jpg" style="width: 100px;height:100px;">
                                    <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                                </div>
                                <div class="col-sm-9">
                                    <p>Ik kwam vooral voor de gezelligheid, zoals je aan de foto kunt zien.</p>
                                    <small>Marc Cremers</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="https://pbs.twimg.com/profile_images/1177458428215644160/S0IBeeT-_400x400.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>Ik heb bij deze salon mijn baard laten watergolven, dat is toch prachtig! Inmiddels ben ik bezig een eigen tool te ontwikkelen om te kunnen testen hoe het resultaat verbeterd kan worden.</p>
                                    <small>Rudi Niemeijer</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="http://www.testconsultancy.nl/wp-content/uploads/2019/04/Ralph-Peperkamp-300x300.png" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>Mijn kapsel laten opfrissen met een balayage, nu heeft mijn kapsel echt een wauw effect! al zijn ze niet zo goed als in de salon van mijn vriendin.</p>
                                    <small>Ralph Peperkamp</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="http://www.testconsultancy.nl/wp-content/uploads/2019/04/Evert-Mulder-2-300x300.png" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>njah, kan slechter.</p>
                                    <small>Evert Mulder</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="http://www.testconsultancy.nl/wp-content/uploads/2019/04/Henny-Hagendoorn-300x300.png" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                    <p>De producten van deze salon zijn zoveel beter dan de standaard andrelon producten, gewoon, omdat ik het waard ben. ja, is toch mooi!</p>
                                    <small>Henny Hagendoorn</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

</div>






<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/static/scripts/reserveren.js"></script>

{% endblock %}