{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class='row'>


    <p class="col-md-4" class='text_width'>
        <strong>CONTACT INFORMATIE</strong><br><br><br>
        <strong>NAAM</strong> Haarstudio 13.<br><br>
        <strong>ADRES</strong> Grote voort 291 <br><br>
        <strong>LOCATIE</strong> Zwolle <br><br>
        <strong>TELEFOONNUMMER</strong> 078452167 <br><br>
        <strong>EMAIL</strong> info@hairforceone.nl <br><br>
    </p>
    <p class="col-md-4" class='text_width'>
        <strong>OPENINGSTIJDEN</strong><br><br><br>
        <strong>MAANDAG </strong> Gesloten<br><br>
        <strong>DINSDAG</strong> 09.00 - 18.00 <br><br>
        <strong>WOENSDAG</strong> 09.00 - 18.00 <br><br>
        <strong>DONDERDAG</strong> 09.00 - 21.00 <br><br>
        <strong>VRIJDAG</strong> 09.00 - 18.00 <br><br>
        <strong>ZATERDAG</strong> 09.00 - 16.00 <br><br>
        <strong>ZONDAG</strong> Gesloten<br><br>
    </p>

    <iframe class="col-md-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.3345663913296!2d6.062257251306107!3d52.509284079713154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7d8d75dfa89bf%3A0x3e4985b9729a5dc2!2sITPH%20Facility%20Centers!5e0!3m2!1snl!2snl!4v1576070779132!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

{% endblock %}