{% extends "layout.html" %} {% block content %}



<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
<!------ Include the above in your HEAD tag ---------->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay2"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          <h1>Haarstudio 13</h1>
          <h3></h3>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
          <h1>Hairforce One</h1>
          <h3>Ready for take-off</h3>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
          <h1>Kappers met een missie</h1>
          <h3></h3>
        </hgroup>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div id='index_page' class="col-md-4">
    <h2>Haarverzorging</h2>
    <p>
      Onze specialiteit is knippen, kleuren en kammen. Alle behandelingen worden
      afgestemd op jouw haar en wensen
    </p>
    <p>
      <a class="btn btn-minimal" id = "behandelingen_button" href="{{ url_for('bp_services.index') }}">Onze behandelingen &raquo;</a>
    </p>
  </div>
  <div id='index_page' class="col-md-4">
    <h2>Producten</h2>
    <p>
      Met ons ruime assortiment shampoos, conditioners, haarkleuringen,
      haarkuren en voedende maskers ziet je haar er perfect verzorgd uit
    </p>
    <p>
      <a class="btn btn-minimal" href="{{ url_for('bp_products.index') }}">Onze producten &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Reserveren</h2>
    <p>
      Je kunt een behandeling reserveren voor je favoriete datum en tijdstip, en
      je favoriete haarprofessional, als je dat wilt
    </p>
    <p>
      <a class="btn btn-minimal" href="{{ url_for('bp_reserveren.index') }}">Nu reserveren &raquo;</a>
    </p>
  </div>
</div>

<script src="/static/scripts/reserveren.js"></script>


{% endblock %}