{% extends "layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

{% for artikelgroep in artikelgroepen %}
<table class="table2" id="services" style="width: 50%" contenteditable="false" name="producten_test">
	<thead>
		<tr>
			<th style="width: 50%">{{artikelgroep.omschrijving}}</th>
			<th style="width: 20%" class="text-right">€</th>
			<th style="width: 10%" >Artikelgroep</th>
			<th style="width: 10%" >Vervallen</th>
			<th style="width: 10%" >Verwijderen</th>
		</tr>
	</thead>
	<tbody>
		{% for artikel in artikelgroep.artikelen %}
		<tr>
			<td style="width: 50%" contenteditable="true">{{artikel.omschrijving}}</td>
			<td style="width: 20%" class="text-right" contenteditable="true">{{artikel.advies_verkoopprijs}}</td>
			{% if artikelgroep == artikel.artikelgroep %}
			<td style="width: 10%" contenteditable="true" >{{artikelgroep.omschrijving}}</td>
			{% endif %}
			<td style="width: 10%" contenteditable="true" >{{artikel.vervallen}}</td>
			<td style="width: 10%" contenteditable="true"><button class="btn btn-minimal" id="minus" onclick="$(this).closest('tr').remove();">-</button></td>
		</tr>
		{% endfor %}
		
	</tbody>
	<button class="btn btn-minimal" id="add_product" onclick="addRowOnclick()">+</button>
</table>
{% endfor %}


<input class="invisible" type="text" id="producten_tabel_input" form = "producten_form" name="producten_tabel" />

<form action="/products/aanpassen/submit" method="POST" id="producten_form">
	<!-- <button type="submit" class="btn btn-default">Submit</button> -->
	<button type="submit" class="btn btn-minimal" id="submit_producten">Bevestigen</button>
</form>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/scripts/reserveren.js"></script>
{% endblock %}
