{% extends "layout.html" %} {% block content %}
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<meta charset="utf-8">
<title>datepicker demo</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

<div id="datepicker"></div>
<p id = "selected_date">Choose a date</p>



<script src="/static/scripts/reserveren_poc.js" onload="showDienst()"></script>

{% endblock %}










